*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home{
    border-top: 2px solid;
}
#header{
     height: 90px;
     width: 100%;
     background-color: #22b3c1;
     padding-top: 10px;
     /* display: flex;
     justify-content:flex-start; */
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    padding: 20px;
    color: white;
}
#bar{
    display: none;
}
@media (max-width:1000px){
    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        gap: 10px;
        top: 60px;
        right: -300px;
        height: 40vh;
        width: 200px;
        background-color: grey;
        box-shadow: 0 40px 60px rgba(0,0,0, 0.01);
        padding: 80px 0 0 10px;
        transition: all 0.2s;
        z-index: 1;
    }
    #bar{
        display: inline;
    }
}
.nav h3{
    font-size: 30px;
}
.navigation{
    margin-left: 30px;
    color: white;
}
a{
    text-decoration: none;
}
.navigation:hover{
    color: rgba(255, 255, 255, 0.753);
}
#search-bar{
    height: 25px;
    width: 250px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    text-indent: 10px;
}
.page1{
    background-image: url(assets/Girnarbg.jpg);
    /* filter: blur(2px); */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slider{
    height: 80vh;
    width: 80%;
    background-color: white;
    position: relative;
    /* object-fit: cover; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-slider,.right-slider{
    font-size: 60px;
    color: white;
}
.overwrite{
    position: relative;
    color: white;
    text-align: center;
}
.overwrite h4{
    font-size: 25px;
}
.overwrite h1{
    font-size: 40px;
}
.discover-more{
    margin-top: 35px;
    font-size: 20px;
    padding: 7px;
    border:1px solid #22b3c1;
    color: #22b3c1;
    background-color: transparent;
    border-radius: 15px;
    transition: all .5s;
}
.discover-more:hover{
    color: white;
    background-color: #22b3c1;
}
.slide{
    width: 100%;
    height: 100%;
    transition: 1s;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overimg{
    position: absolute;
    width: 100%;
    height: 100%;
}
.page2{
    background-color: rgba(0, 0, 0, 0.329);
    height: 170vh;
}
.places{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.places-heading{
    text-align: center;
    margin-top: 40px;
}
.cards{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
}
.card{
    height: 250px;
    width: 300px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.card-head{
    color: black;
}
.card-head:hover{
    color: rgba(0, 0, 0, 0.603);
}
.card2-details{
    text-align: center;
}
.img-container{
    position: relative;
    height: 150px;
}
.card_image{
    object-fit: cover;
    object-position: center;
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.explore-places > a > button{
    font-size: 30px;
    width: 60vw;
    border:2px solid #14336d;
    padding: 10px;
    color: #14336d;
    margin-bottom: 40px;
    transition: all .5s;
}
.explore-places > a > button:hover{
    color: white;
    background-color: #14336d;
}
.month-visit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.month-heading{
    text-align:center;
    padding: 60px;
}

.month-visit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.months{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 80px;
    row-gap: 10px;
}
.month{
    height: 140px;
    width: 110px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.month-image-container{
    height: 70%;
    overflow: hidden;
    object-fit: contain;
    border-radius: 50%;
}
.month-image{
    height: 100px;
}
.month-name{
    height: 30px;
    text-align: center;
    color: white;
}
.month-name a{
    color: white;
}
.month-name a:hover{
    color: rgba(255, 255, 255, 0.753);
}
#footer{
    background-color: #22b3c1;
    height: 40vh;
    color: white;
}
.foot1{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}
.foot-button{
    font-size: 17px;
    padding: 8px;
    border-radius: 15px;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    transition: all .5s;
}
.foot-button:hover{
    color: #22b3c1;
    background-color: white;
}
.foot2{
    height: 10vh;
    background-color: #2197a1;
    display: flex;
    align-items: center;
    justify-content: center;
}